[package]
name = "stone-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
bincode = { version = "2.0.0-rc.3", default-features = false, features = [
    "serde",
] }
cairo-bootloader = { git = "https://github.com/zksecurity/cairo-bootloader" }
cairo-felt = "0.9.1"
cairo-vm = { git = "https://github.com/zksecurity/cairo-vm", features = [
    "extensive_hints",
] }
clap = { version = "4.3.10", features = ["derive"] }
itertools = "0.13.0"
num-bigint = "0.4.6"
num-traits = "0.2.19"
rstest = "0.21.0"
serde = { version = "1.0", features = ["derive"], default-features = false }
serde_json = "1"
stark_evm_adapter = { git = "https://github.com/zksecurity/stark-evm-adapter.git", branch = "add-build-configs" }
stone-prover-sdk = { git = "https://github.com/zksecurity/stone-prover-sdk" }
swiftness_air = { git = "https://github.com/zksecurity/integrity-calldata-generator" }
swiftness_fri = { git = "https://github.com/zksecurity/integrity-calldata-generator" }
swiftness_proof_parser = { git = "https://github.com/zksecurity/integrity-calldata-generator" }
swiftness_stark = { git = "https://github.com/zksecurity/integrity-calldata-generator" }
swiftness = { git = "https://github.com/zksecurity/integrity-calldata-generator" }
starknet-crypto = "0.7.2"
tempfile = "3.10.1"
thiserror = "1.0.61"
reqwest = { version = "0.12.5", features = [
    "blocking",
    "native-tls",
    "rustls-tls",
] }
uuid = "1.9.1"

[build-dependencies]
reqwest = { version = "0.12.5", features = ["blocking"] }
flate2 = "1.0.30"
once_cell = "1.18"
serde = { version = "1.0", features = ["derive"], default-features = false }
serde_json = "1"
sha256 = "1.5.0"
tar = "0.4.41"
tempfile = "3.10.1"
thiserror = "1.0.61"

[dev-dependencies]
assert_cmd = "2.0.14"
predicates = "3.1.0"
